<footer class="bg-dark text-light">
    <div class="container p-4 pt-5 mb-3">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-4">
                <div class="d-flex align-items-end gap-2">
                    <img src="/media/stock_images/logo_white.svg" alt="" width="50" height="50">
                    <h5 class="" style="color: #818963;">Leal Hardware Store</h5>
                </div>
                <p class="mt-3 fst-italic">"Tools for the Trade, Solutions for Life!"</p>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <h5 class="mb-3" style="color: #818963;">Links</h5>
                <ul class="list-unstyled mb-0">
                    <li class="mb-1 text-light">
                        <a class="text-light" href="{% url 'db-customer_products' %}">Products</a>
                    </li>
                    <li class="mb-3">
                        <a class="text-light" href="{% url 'db-about' %}">About Us</a>
                    </li>
                    <li class="d-flex gap-3">
                        <a href="http://www.facebook.com" target="_blank"><img src="/media/stock_images/facebook.svg" alt="Facebook" width="25"></a>
                        <a href="http://www.instagram.com" target="_blank"><img src="/media/stock_images/instagram.svg" alt="Instagram" width="25"></a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <h5 class="mb-1" style="color: #818963;">Opening Hours</h5>
                <table class="table" style="color: #4f4f4f; border-color: #666;">
                    <tbody class="text-light">
                        <tr>
                            <td>Mon - Fri:</td>
                            <td>8am - 5pm</td>
                        </tr>
                        <tr>
                            <td>Sat:</td>
                            <td>9am - 5pm</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2024 Copyright: <span>Leal Hardware Store</span>
    </div>
</footer>