{% extends '../components/master.html' %}

{% block title %} Payment Failed {% endblock %}
{% block content %}
<div class="container d-flex justify-content-center align-items-center overflow-hidden" style="min-height: 100vh;">
    <div class="text-center">
        <img src="/media/stock_images/logo_black.svg" alt="" width="100">
        <h1>There was an error completing your transaction. Please try again.</h1>
        <a class="btn btn-success mt-2" href="/">Go back to home</a>
    </div>
</div>
{% endblock %}