{% extends '../components/master.html' %}

{% block title %}
Customers
{% endblock %}

{% block content %}
<div class="container-fluid pb-5">

    <div class="container">
        <h1 class="my-3">Users</h1>
        <div class="border border-secondary p-2">
            <div class="table-responsive">
                <table id="example" class="table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.first_name }} {{ user.last_name }}</td>
                            <td>
                                <a class="btn btn-secondary" href="details/{{ user.id }}">View</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}